*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    box-sizing: border-box;

}

body{
    background-image: url("Images/pinktulips.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
/*this is actually really cool. Downloaded the pick and then linked here. 
        background-image(obviously links the pic)
        background-repeat(repeats it across the page)
        background-size: (changes the size of each img)*/

body,ul{
    margin: 0;
    padding: 0;
}
/*chatgpt helped. The default margin and padding was adding a space to the left in the navbar,
specifically next to the tabs. Was getting kinda annoying*/

main{
   max-width: 600px;
    margin: auto;
}

.title{
    background: url(Images/clouds.jpeg);
    background-size: cover;
    color: white;
}



.navbar{
    display: flex;


}

ul.tabs{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

li{
    display:inline;
    border: 2px solid black;
    border-radius: 5px;
    width: 20%;
    text-align: center;
    padding: 5px 0;
    background-color: #000066;
}
/*I'm finished for tonight
I didn't even do my freecodecamp but feel like I learned so much about coding tonight.
The term "tuturiol hell" is an apt term, you learn almost nothing and waste alot of time*/


/*display inline because "li" is usually block elements. By displaying them inline
it helps to make them 'on the same line' or inline*/

a{
    text-decoration: none;
    color: white;
}

a:hover{
    color:pink;
}
/*these will link to other web pages. For my nav bar at the top*/



.opening{
    width: 600px;
    background: radial-gradient(circle,white, #9c9cce, #7b8cca, #4040ad);
    margin:auto;
    color: white;
}


h1{
    font-family: 'Dancing Script', cursive;
    text-align: center;
    font-size: 2rem;
    margin: 0;
}

p.caption{
    margin-top:0;
    width: 300px;
    font-family: "Playwrite AU NSW", cursive;
    font-size: 0.8rem;
}

.divtitle{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    gap:40px;

}

.nicknames{
    width:auto;
}

.nicknames p{
   display: flex;
   flex-direction: column;
   align-items: center;
   font-family: "Playwrite AU NSW", cursive;
   font-size: 0.75rem;
}

.youandmeimg{
    border: 10px solid rgb(247, 244, 244);
    border-style: double;
    max-width: 300px;
    width: 100%;
    height: auto;
}

.img{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.caption{
    font-family: "Brush Script MT", cursive;
}



.happybirthday{
    background: rgb(184, 190, 196);
    padding: 0 10px 10px;
    margin-top: -32px;
}

.birthday{
    font-size: 32px;
    font-family: "Playwrite AU NSW", cursive;
    text-align: center;
    margin-bottom: -10px;
    background: url(Images/clouds.jpeg);
    background-size: cover;
    color: white;
    border-radius: 15px;
   
}
.bowrow{
    width: 8%;
}
.bow, .bow-2{
   display:flex;
   justify-content: center;
}

.bow-2{
    margin-top: -10px;
}

.main-opening{
    width: 90%;
    margin: auto;
    text-align: left;
    line-height: 1.5rem;

   
}



/*This is done for now. I've made the homepage and while I"m not entirely happy with it, I know
that I will come up with other ideas as I'm designing the other html. This is actually kind of fun
    8-9-25
*/

@media(max-width: 500px){

    main{
        width: 95vw;

    }

    .opening{
        width: 95vw;
    }

    .img{
        width:40vw;
        height: auto;
    }

    .youandmeimg{
        width: 100%;
        height: auto;
    }

   p.caption{
    width:40vw;
   }

    div.divtitle{
    }
   
    .nicknames p{
        font-size:0.65rem;
        margin-top:-10px;
    }

    .navbar .tabs a{
        font-size:0.9rem;
    }
}
