*{
    font-size: 16px;
    box-sizing: border-box;
    font-family: "Playfair Display", serif;

}

body{
    padding:0;
    margin:0;
    background-color: rgb(4, 46, 83);

}

main{
    max-width: 600px;
    margin: auto;

}

.title{
    border: 5px solid black;
    border-radius: 5px;
    border-style: double;
    background-color: aliceblue;

}

.title h1{
    font-size: 2.25rem;
    text-align: center;
    text-decoration: underline;
}

.title p{
    text-align: center;

}
.images{
    background-color: aliceblue;

}

.images img{
   border: 5px solid black;
   border-radius: 5px;
   border-style: double;
   max-width: 100%;
  height: auto;
  display: block;
  margin: auto;
}


@media (max-width: 500px){
     main{
        width: 95vw;
    }

    .title{
        width: 95vw;
    }

    .images{
        width:95vw;
        height: auto;
        text-align: center;
        grid-template-columns: 1fr;
        background-color: aliceblue;
       
    }

   
}
