*[
    font-size: 16px;
    box-sizing: border-box;
    font-family: "Playfair Display", serif;
]
body{
    padding:0;
    margin:0;
}

main{
    max-width: 600px;
    margin: auto;

}

.title{
    border: 5px solid black;
    border-radius: 5px;
    border-style: double;
}

.title h1{
    font-size: 2.25rem;
    text-align: center;
    text-decoration: underline;
}

.title p{
    text-align: center;

}

.images img{
   border: 5px solid black;
   border-radius: 5px;
   border-style: double;
}

