*{
    font-size: 16px;
    box-sizing: border-box;
    font-family: "Playfair Display", serif;
    

}

body{
    padding: 0;
    margin: 0;
}

main{
    max-width: 600px;
    margin:auto;
    
}

.title{
    width: 60vw;
    max-width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 5px solid black;
}

.title h1{
    padding:0;
    margin-bottom: 0;
    font-size: 2rem;
    font-weight: 300;
    text-decoration: underline;
}
.p-one{
    margin-top:0;
    text-decoration: underline;
    font-size: 1.25rem;
}
.p-two{
    font-size: 0.8rem;
    text-align: center;
    width: 80%;
    font-size: 1.125rem;
}


.memories{
    display: grid;
    width: 100vw;
    max-width: 600px;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(200px, auto); /*meaning auto rows, min of 100px and max auto minmax*/
    text-align: center;
    background-color: lightblue;

}

.memories img{
    width: 100%;
    height: auto;
    display: block;
}

.memories h2{
    font-size: 1.5rem;
}

.memories p{
    font-size: 1.25rem;
    padding: 0 10px;
}


@media (max-width: 500px){

    main{
        width: 95vw;
    }

    .title{
        width: 95vw;
    }

    .memories{
        width:95vw;
        height: auto;
        text-align: center;
        grid-template-columns: 1fr;
       
    }

    .memories h2{
        font-size: 1rem;
    }

    .memories p{
         font-size: 0.7rem;
         padding: 0 10px;
    }

    .p-one, .p-two{
        font-size: 0.75rem;
    }

}